<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Clinical Data</title>
    <link rel="stylesheet" href="{% static "css/clinicals.css" %}">
</head>
<body>
    <h1>Are you sure you want to delete this clinical data?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'analyze' object.patient.id %}">Cancel</a>
    </form>
</body>
</html>
